:root{
  --Violet: #674baf;
  --Soft-Magenta: #e882e8;
  --white: #fff;
}
*{
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: var(--Violet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  padding: 24px;
}
.navbar{
  height: 15%;
}
.navbar img{
  width: 30%;
}
.main-content{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.principal-image{
  display: flex;
  justify-content: center;
}
.principal-image img{
  width: 85%;
  margin-bottom: 30px;
}
.info-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittle{
  font-size: 2.5rem;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.paragraph{
  color: var(--white);
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.primary-button{
  border: none;
  background-color: var(--white);
  color: var(--Violet);
  height: 40px;
  width: 200px;
  border-radius: 25px ;
  margin-bottom: 20px;
}
.primary-button:hover{
  color: var(--white);
  background-color: var(--Soft-Magenta);
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  width: 25px;
  margin: 4px;
}
.icon{
  fill: var(--white);
}
.icon:hover{
  fill: var(--Soft-Magenta);
}
