:root{
  --Violet: #674baf;
  --Soft-Magenta: #e882e8;
}
*{
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
html{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: var(--Violet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
}